<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<!--  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">-->
<!--    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Video Game DATA</a>-->
<!--    <input class="form-control form-control-dark w-100" type="text" placeholder="Search by Title" label="Search">-->
<!--    <div class="btn-group">-->
<!--      <button type="button" class="btn btn-danger">Search</button>-->
<!--    </div>-->
<!--  </header>-->
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">

            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Publisher
              </a>
            </li>
          </ul>
  
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Console Most Copies
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Global Console Sales</h1>
        </div>
  
        <div class="ct-chart ct-perfect-fourth" style="width:50%; height:auto;"></div>
  
        <h2>Console List</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for item in data %}
              <tr>
                 <td>{{ item.console }}</td>
                  <td>{{ item.naSales }}</td>
                  <td>{{ item.euSales }}</td>
                  <td>{{ item.jpSales }}</td>
                  <td>{{ item.otherSales }}</td>
                  <td>{{ item.globalSales }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
  
  <script>
  // Our labels and three data series
var data = {
  labels: ['2013', '2014', '2015', '2016'],
  series: [
    [5, 4, 3, 7],
    [3, 2, 9, 5],
    [10, 7, 3, 0]
    [15, 12, 10, 20]
  ]
};

var options = {
  showPoint: true,
  lineSmooth: true,


  axisX: {
    showGrid: true,
    showLabel: true
  },
  axisY: {
    offset: 80,
    labelInterpolationFnc: function(value) {
      return '$' + value + 'm';
    }
  }
};

// All you need to do is pass your configuration as third parameter to the chart function
new Chartist.Line('.ct-chart', data, options);
  </script>
<header>
    {% block header %}{% endblock %}
</header>
    {% block content %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>