{% extends 'base.html' %}


{% block chart_header %}
<h1 style="text-align: center">Game Copies Sold Since 2013</h1><h8>*million units</h8>
{% endblock %}

{% block chart %}
<div class="ct-chart ct-perfect-fourth" style="width:100%; height:auto;"></div>
<script>
  var labelArray = [];

  {% for item in x_axis %}
  labelArray.push('{{ item }}');
  {% endfor %}

  var seriesArray = [];
  {% for item in y_axis %}
  seriesArray.push('{{ item }}');
  {% endfor %}

  var data = {
    labels: labelArray,
      series: [seriesArray]
  };

  var options = {
    seriesBarDistance: 15
  };

  var responsiveOptions = [
    ['screen and (min-width: 641px) and (max-width: 1024px)', {
      seriesBarDistance: 10,
      axisX: {
        labelInterpolationFnc: function (value) {
          return value;
        }
      }
    }],
    ['screen and (max-width: 640px)', {
      seriesBarDistance: 5,
      axisX: {
        labelInterpolationFnc: function (value) {
          return value[0];
        }
      }
    }]
  ];

  new Chartist.Bar('.ct-chart', data, options, responsiveOptions);
</script>
{% endblock %}

{% block table_header %}
<h1 style="text-align: center">Console List</h1>
{% endblock %}
{% block table %}
        <div class="table-responsive" style="width:100%;">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for item in data %}
              <tr>
                  <td>{{ item.console }}</td>
                  <td>{{ item.naSales }}</td>
                  <td>{{ item.euSales }}</td>
                  <td>{{ item.jpSales }}</td>
                  <td>{{ item.otherSales }}</td>
                  <td>{{ item.globalSales }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}