{% extends 'base.html' %}

{% block chart_header %}
<h1 style="text-align: center">Genre Sales By Region</h1>
{% endblock %}

{% block chart %}
<div class="ct-chart ct-perfect-fourth" style="width:100%; height:auto;"></div>
 <script>
    class MyCharts{
        constructor(xData, yData)
        {
            this.xData = xData;
            this.yData = yData;

        }
        createGraph()
        {
            var data =
            {
                labels: this.xData,
                series:  this.yData
            }
            new Chartist.Bar('.ct-chart', data);
        }
    }

    var labels =[];
    {% for item in header %}
    labels.push('{{ item }}');
    {% endfor %}

    var series = [];
    {% for item in series %}
    series.push({{ item }});
    {% endfor %}

    var obj = new MyCharts(labels, series);
    obj.createGraph();

  </script>
{% endblock %}

{% block table_header %}
<h1 style="text-align: center">Genre List</h1>
{% endblock %}
{% block table %}
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for item in data %}
              <tr>
                 <td>{{ item.genre }}</td>
                  <td>{{ item.naSales }}</td>
                  <td>{{ item.euSales }}</td>
                  <td>{{ item.jpSales }}</td>
                  <td>{{ item.otherSales }}</td>
                  <td>{{ item.globalSales }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}