{% extends 'base.html' %}


{% block chart_header %}
<h1 style="text-align: center">{% block title %} Sales Distribution By Platform {% endblock %}</h1>
{% endblock %}

{% block chart %}
<div class="ct-chart ct-perfect-fourth pie-chart" style="width:100%; height:auto;"></div>
  <script>
      var labelArray = [];
        {% for item in label %}
        labelArray.push('{{ item }}');
        {% endfor %}

      var seriesArray = [];
        {% for item in series %}
        seriesArray.push('{{ item }}');
        {% endfor %}

      var data = {
      labels: labelArray,
      series: seriesArray
    };

    var options = {
      labelInterpolationFnc: function(value) {
        return value[0]
      }
    };

    var responsiveOptions = [
      ['screen and (min-width: 640px)', {
        chartPadding: 30,
        labelOffset: 100,
        labelDirection: 'explode',
        labelInterpolationFnc: function(value) {
          return value;
        }
      }],
      ['screen and (min-width: 1024px)', {
        labelOffset: 80,
        chartPadding: 20
      }]
    ];

    new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
  </script>
{% endblock %}

{% block table_header %}
<h1 style="text-align: center">Game List</h1>
{% endblock %}
{% block table %}
<div class="table-responsive" style="width:100%;">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in data %}
              <tr>
                  <td>{{ row.name }}</td>
                  <td>{{ row.platform }}</td>
                  <td>{{ row.year }}</td>
                  <td>{{ row.genre }}</td>
                  <td>{{ row.publisher }}</td>
                  <td>{{ row.globalSales }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}